<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HoraDownload" value="18"/>
    <add key="HoraLog" value="16"/>
  </appSettings>
    
  <connectionStrings>
    <!--<add name="MySQLConn" connectionString="server=192.168.0.5; port=3306; user=Buzz; password=rk-X94jeRN;" providerName="MySql.Data.MySqlClient"/>-->
    <add name="MySQLConn" connectionString="server=127.0.0.1; port=3306; user=root; password=matur@123;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
</configuration>